<p id="notice"><%= notice %></p>

<%= @auauffcode.first %>

<%= line_chart @auauffcode %>

<h1>Aggregate Downloads</h1>

<table>
  <thead>
    <tr>
      <th>Podcast</th>
      <th>Episode</th>
      <th>Download <br/>Volume (MB)</th>
      <th>Hits</th>
      <th>Downloads</th>
    </tr>
  </thead>

  <tbody>
    <% @downloads.each do |download| %>
      <tr>
        <td><%= download.episode.podcast %></td>
        <td><%= download.episode.name %></td>
        <td align="right"><%= download.volume / 1048576 %></td>
        <td align="right"><%= download.hits %></td>
        <td align="right"><%= download.volume / download.episode.filesize.to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>