<p id="notice"><%= notice %></p>

<h1>Downloads</h1>

<table>
  <thead>
    <tr>
      <th>Podcast</th>
      <th>Episode</th>
      <th>Day</th>
      <th>Size</th>
      <th>Downloads Count</th>
    </tr>
  </thead>

  <tbody>
    <% @downloads.each do |download| %>
      <tr>
        <td><%= download.podcast %></td>
        <td><%= download.name %></td>
        <td><%= download.day %></td>
        <td><%= download.size / 1024 %></td>
        <td><%= download.download_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Download', new_download_path %>
