<h1>Podcasts</h1>

<h4>Download-Statistik der Podcasts von Stefan Haslinger (+ Friends)</h4>

<p id="notice"><%= notice %></p>

<% @downloads.each do |podcast, downloads| %>
  <%= column_chart(downloads.map{|d| [d.name, d.volume.to_f / d.filesize.to_i]},
                   library: {title: {display: true, text: podcast},
                             scales: { xAxes: [{maxBarThickness: 70 }]}}) %>

  <%= link_to "Details " + podcast, trend_download_path(Podcast.find_by_name(podcast)) %>
<% end %>

<hr/>

<a href="https://informatom.com/impressum">Impressum</a> -
<a href="https://informatom.com/datenschutz">Datenschutz</a> -
Ruby <%= RUBY_VERSION %> on Rails <%= Rails.version %>
