<p id="notice"><%= notice %></p>

<h1>Aggregate Downloads</h1>

<table>
  <thead>
    <tr>
      <th>Episode</th>
      <th>Day</th>
      <th>Volume</th>
      <th>Hits</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aggregate_downloads.each do |aggregate_download| %>
      <tr>
        <td><%= aggregate_download.episode.name %></td>
        <td><%= aggregate_download.day %></td>
        <td><%= aggregate_download.volume.to_i / 1048576 %></td>
        <td><%= aggregate_download.hits %></td>
        <td><%= aggregate_download.count %></td>
        <td><%= link_to 'Show', aggregate_download %></td>
        <td><%= link_to 'Edit', edit_aggregate_download_path(aggregate_download) %></td>
        <td><%= link_to 'Destroy', aggregate_download, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aggregate Download', new_aggregate_download_path %>
