<p id="notice"><%= notice %></p>

<p>
  <strong>Episode:</strong>
  <%= @aggregate_download.episode %>
</p>

<p>
  <strong>Day:</strong>
  <%= @aggregate_download.day %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @aggregate_download.volume %>
</p>

<p>
  <strong>Hits:</strong>
  <%= @aggregate_download.hits %>
</p>

<p>
  <strong>Count:</strong>
  <%= @aggregate_download.count %>
</p>

<%= link_to 'Edit', edit_aggregate_download_path(@aggregate_download) %> |
<%= link_to 'Back', aggregate_downloads_path %>
